<section class="form-register">
<h1 style="text-align:center;">Crea una cuenta</h1>
<hr>
<div class="row">
<form [formGroup]="register" >

  <div class="mb-3">
    <label for="txt-nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" name="txt-nombre" id="txt-nombre" placeholder="Ingrese su nombre" formControlName="nombre">
  </div>

  <div class="mb-3">
    <label for="txt-apellidos" class="form-label">Apellidos</label>
    <input type="text" class="form-control" name="txt-apellidos" id="txt-apellidos" placeholder="Ingrese su apellido" formControlName="apellidos" >
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Correo</label>
    <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com" formControlName="correo">
  </div>

  <div class="mb-3">
    <label for="txt-contra" class="form-label">Contraseña</label>
    <input type="password" class="form-control" name="txt-contra" id="txt-contra" placeholder="Ingrese su contraseña" formControlName="contra" >
  </div>

    <div class="mb-3" style="text-align: center ;">
    <button (click)="registerSubmit(register.value)" [disabled]="register.invalid"  class="btn btn-bg">Registrarse</button>
  </div>

  </form>

</div>
</section>
