<section class="form-login">
<h1 style="text-align:center;"> Ingresa </h1>
<hr>

<form [formGroup]="login">
  <div class="mb-3">
    <label for="txt-email" class="form-label">Correo</label>
    <input type="email" name="email" class="form-control" id="txt-email" placeholder="name@example.com" formControlName="correo">
    </div>
  <div class="mb-3">
    <label for="txt-contra" class="form-label">Contraseña</label>
    <input type="password" class="form-control" name="txt-contra" id="txt-contra" placeholder="Ingrese su contraseña" formControlName="contra">
  </div>
    <div class="mb-3" style="text-align: center ;">
    <button (click)="loginSubmit(login.value)" [disabled]="login.invalid" class="btn btn-bg" > Iniciar Sesión </button>
  </div>

  <div style="text-align:center">
    <a routerLink="/registro" class="form-bg"> Crear una cuenta </a>

  </div>

  </form>
</section>
